{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Participant Information
{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h2 class="text-center">PARTICIPANT INFORMATION</h2>
    </div>
    <div class="card-body">
        <p class="text-center lead">Please read the following information carefully.</p>
        
        <h4><b>What is the purpose of this study?</b></h4>
        <p>The study aims to improve our understanding of how people learn and make decisions in social contexts. 
           We are particularly interested in how people make decisions when in groups. 
           In addition, we will also look at how this relates to individual differences in psychological measures.</p>
        
        <h4><b>What will the study involve?</b></h4>
        <p>In this study, you will be asked to complete a game in which you will have to make choices. 
           Before the game begins, you will receive detailed instructions and practice. This will be followed by a set of questionnaires.
           The first part of the study will take approximately 30-40 minutes to complete, and the questionnaires will take approximately 15 minutes to complete.
           In total, the experiment will take approximately 50 minutes. <b>It is important that you complete both sections in one sitting.</b></p>
        
        <h4><b>Are there any benefits in taking part?</b></h4>
        <p>You will receive financial compensation of £10 per hour, which coincides with completing both parts.
           <b>You may also receive a bonus payment of up to £3 based on your performance in the task.</b>
           Your participation may also help us better understand the brain mechanisms underlying learning and decision-making.</p>
        
        <p class="mt-4"><b>Once you have read through this information and are happy to proceed, please press the 'Next' button below.</b></p>
    </div>
</div>

{% next_button %}
{% endblock %}