{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load otree %}

{{ block content }}

<!-- HTML code for SecondChoicePage, which updates the page in response to player's inputs -->

<style>
    body {
        background-color: black;
        color: white;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 150vh;
        margin: 0;
        transform: scale(1.1);
        transform-origin: top center;
    }

    #option-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 900px;
        height: 600px;
        top: 125px;
        border: 7.5px solid white;
        padding: 30px;
        box-sizing: border-box;
    }

    #options {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-top: 45%;
        position: relative;
    }

    #options img {
        width: 10%;
        margin: 0;
    }

    #option_left {
        position: absolute;
        left: 25%;
        transform: translateX(-50%);
    }

    #option_right {
        position: absolute;
        right: 25%;
        transform: translateX(50%);
    }

    .title {
        text-align: center;
        position: absolute;
        top: -110px;
        left: 50%;
        transform: translateX(-50%);
        white-space: pre-line;
    }

    .selected-from-previous {
        border: 4.5px solid yellow;
    }

    .selected {
        border: 4.5px solid red;
    }

    .bet-options {
        display: flex;
        justify-content: center;
        margin-top: -60px;
    }

    .bet-options div {
        margin: 0 15px;
        padding: 7.5px 15px;
        cursor: pointer;
    }

    #trial-reward {
        color: rgb(30, 236, 30);
        font-size: 36px;
        margin-top: 4.5px;
        font-weight: bold;
        text-align: center;
    }

    #avatar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 105px;
        left: -25px;
    }

    .avatar-wrapper {
        position: relative;
        display: inline-block;
        margin: 0 15px;
    }

    .avatar-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: bold;
        color: black;
        z-index: 1;
        pointer-events: none;
    }

    .avatar {
        width: 75px;
        height: 75px;
    }

    .chosen-image {
        width: 45px;
        height: 45px;
        position: absolute;
    }

    .chosen-image-mypage {
        top: 82.5px;
        left: 15px;
    }

    .chosen-image-secondchoicepage {
        top: 97.5px;
        left: 30px;
    }
    
    .win-loss-image {
        width: 37.5px;
        height: 37.5px;
        position: absolute;
        top: 157.5px;
        left: 30px;
    }

    #player-win-loss-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    #player-win-loss-image {
        width: 75px;
        height: 75px;
    }
</style>

<form id="form">
    <div id="avatar-container">
        {% for player_id in other_player_ids %}
            <div class="avatar-wrapper">
                <img src="{% static C.AVATAR_IMAGE %}" alt="Player {{ player_id }} Avatar" class="avatar">
                <div class="avatar-number">{{ forloop.counter }}</div>
                <div class="chosen-images-container">
                    <img src="" alt="Player {{ player_id }} Chosen Image (MyPage)" class="chosen-image chosen-image-mypage" style="display: none;">
                    <img src="" alt="Player {{ player_id }} Chosen Image (SecondChoicePage)" class="chosen-image chosen-image-secondchoicepage" style="display: none;">
                    <img src="" alt="Player {{ player_id }} Win/Loss Image" class="win-loss-image" style="display: none;">
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="option-container">
        <div id="options">
            <img src="{% static left_image %}" id="option_left" data-option="left" class="{% if previous_choice == player.left_image %}selected-from-previous{% endif %}">
            <img src="{% static right_image %}" id="option_right" data-option="right" class="{% if previous_choice == player.right_image %}selected-from-previous{% endif %}">
            <div class="title" id="choice-title">Second choice?</div>
            <div class="title" id="bet-title" style="display: none;">Second bet?</div>
        </div>
        <div id="bet-container" style="display: none;">
            <div class="bet-options">
                <div data-bet="1" class="{% if previous_bet == 1 %}selected-from-previous{% endif %}">1</div>
                <div data-bet="2" class="{% if previous_bet == 2 %}selected-from-previous{% endif %}">2</div>
                <div data-bet="3" class="{% if previous_bet == 3 %}selected-from-previous{% endif %}">3</div>
            </div>
        </div>
        <div id="player-win-loss-container" style="display: none;">
            <img src="" alt="Player Win/Loss Image" id="player-win-loss-image">
        </div>
        <div id="trial-reward" style="display: none;"></div>
        {{ formfield_errors 'choice2' }}
        {{ formfield_errors 'bet2' }}
        <input type="hidden" name="choice2" id="choice2_field">
        <input type="hidden" name="bet2" id="bet2_field">
    </div>
</form>

<script>
    window.otherPlayerIds = {{ other_player_ids|json }};
    window.chosenImages = {{ chosen_images|json }};

    document.addEventListener('DOMContentLoaded', function() {
        // Display the chosen images from MyPage on page load
        const chosenImages = {{ chosen_images|json }};
        const avatarWrappers = document.querySelectorAll('.avatar-wrapper');
        avatarWrappers.forEach((wrapper, index) => {
            const playerId = {{ other_player_ids|safe }}[index];
            const chosenImageMyPage = wrapper.querySelector('.chosen-image-mypage');
            chosenImageMyPage.src = `/static/${chosenImages[playerId]}`;
            chosenImageMyPage.style.display = 'block';
        });

        liveSend({second_choice_page_loaded: true, page_load_time: performance.now()});
    });

    // Initialize variables to track the state of the task
    // These variables are used to track the state of the task and the player's choices and bets
    let secondChoiceTime;
    let secondBetStartTime;
    let currentStage = 'choice'; // Initialize currentStage variable
    let choiceMade = false;
    let betMade = false; // Define the betMade variable
    let betPhaseEnded = false;
    let resultsShown = false;

    // Define the handleKeyDown function to handle keydown events for choices and bets
    // This function is called when a key is pressed on the keyboard
    function handleKeyDown(event) {
        if (currentStage === 'choice' && (event.key === 'ArrowLeft' || event.key === 'ArrowRight') && !choiceMade) {
            const secondChoiceTime = Math.round((performance.now() - secondChoiceStartTime) * 100) / 100;
            choose(event.key === 'ArrowLeft' ? 'left' : 'right');
            liveSend({second_choice_time: secondChoiceTime});
            choiceMade = true;
        } else if (currentStage === 'bet' && (event.key >= '1' && event.key <= '3') && !betMade && !betPhaseEnded) {
            const secondBetTime = Math.round((performance.now() - secondBetStartTime) * 100) / 100;
            liveSend({second_bet: parseInt(event.key), second_bet_time: secondBetTime});
            selectBet(parseInt(event.key));
            betMade = true;
        }
    }

    document.addEventListener('keydown', handleKeyDown);

    // Define the choose function when an option is selected
    // This function is called when an option is selected by clicking on the image or pressing the arrow keys
    function choose(option) {
        if (currentStage === 'choice') {
            const selectedOption = document.getElementById(`option_${option}`);
            const otherOption = document.getElementById(`option_${option === 'left' ? 'right' : 'left'}`);
            selectedOption.classList.add('selected');
            selectedOption.classList.remove('selected-from-previous');
            otherOption.classList.remove('selected');
            otherOption.classList.remove('selected-from-previous');
            document.getElementById('choice2_field').value = option;
            const secondChoiceTime = Math.round((performance.now() - secondChoiceStartTime) * 100) / 100;
            liveSend({
                second_choice: option === 'left' ? '{{ player.left_image }}' : '{{ player.right_image }}',
                second_choice_time: secondChoiceTime
            });
            choiceMade = true;
        }
    }

    // Define the selectBet function when a bet is selected
    // This function is called when a bet is made manually by pressing the number keys 1, 2, or 3
    function selectBet(bet) {
        const betElements = document.querySelectorAll('.bet-options div');
        betElements.forEach(element => {
            element.classList.remove('selected');
            element.classList.remove('selected-from-previous');
        });
        document.querySelector(`.bet-options div[data-bet="${bet}"]`).classList.add('selected');
        document.getElementById('bet2_field').value = bet;

        if (currentStage === 'bet' && !betMade && !betPhaseEnded) {
            const secondBetTime = Math.round((performance.now() - secondBetStartTime) * 100) / 100;
            liveSend({choice: document.getElementById('choice2_field').value, bet: bet, second_bet_time: secondBetTime});
            betMade = true;
        }
    }

// Live communication functions to send and receive data 
// These functions are used to send and receive data between the server and the client in real-time
// The liveSend function sends data to the server, while the liveRecv function receives data from the server

    function liveRecv(data) {
        console.log('Received data:', data);

        // If the second_choice_page_loaded flag is received, log the page load time
        if ('start_second_choice_timer' in data && data.start_second_choice_timer) {
            secondChoiceStartTime = performance.now();
            setTimeout(function() {
                if (currentStage === 'choice') {
                    liveSend({second_choice_timer_ended: true});
                }
            }, 1100);
        }

        // Highlight the selected image if the highlight_selected_image flag is received
        // This is to ensure that the selected image is highlighted when the second choice page is loaded
        if ('highlight_selected_image' in data) {
            const selectedOption = document.querySelector(`#option_${data.highlight_selected_image === '{{ player.left_image }}' ? 'left' : 'right'}`);
            const otherOption = document.querySelector(`#option_${data.highlight_selected_image === '{{ player.left_image }}' ? 'right' : 'left'}`);
            selectedOption.classList.add('selected');
            selectedOption.classList.remove('selected-from-previous');
            otherOption.classList.remove('selected');
            otherOption.classList.remove('selected-from-previous');
        }

        // If the second_choice_timer_ended flag is received, send the second_choice_timer_ended event
        // This is to ensure that the second choice phase ends after 1100ms even if no choice is made
        if ('second_choice_timer_ended' in data && data.second_choice_timer_ended) {
            if (currentStage === 'choice') {
                // Start the second bet phase after the second choice phase ends
                document.getElementById('bet-container').style.display = 'block';
                document.getElementById('choice-title').style.display = 'none';
                document.getElementById('bet-title').style.display = 'block';
                currentStage = 'bet';
                betMade = false; // Reset betMade to false when the second bet container is shown

                // Record the start time of the second bet phase
                secondBetStartTime = performance.now();
                console.log('Second bet phase start time:', secondBetStartTime);

                // Start the second bet timer for 1100ms
                setTimeout(function() {
                    if (currentStage === 'bet' && !betMade) {
                        // If no bet is made within 1100ms, send the second_bet_timer_ended event
                        liveSend({second_bet_timer_ended: true});
                    }
                }, 1100);

                // Print the correct choice2 value based on whether it was made manually or assigned by the computer
                if (choiceMade) {
                    console.log('Player', js_vars.player_id, 'made a manual second choice:', document.getElementById('choice2_field').value);
                } else {
                    console.log('Player', js_vars.player_id, 'assigned a random second choice by the computer:', document.getElementById('choice2_field').value);
                }
            }
        }

        // If the second_bet_timer_ended flag is received, send the second_bet_timer_ended event
        // This is to ensure that the second bet phase ends after 1100ms even if no bet is made
        if ('show_bet_container' in data && data.show_bet_container) {
            if (!window.betContainerDisplayed) {
                window.betContainerDisplayed = true;
                document.getElementById('bet-container').style.display = 'block';
                document.getElementById('choice-title').style.display = 'none';
                document.getElementById('bet-title').style.display = 'block';
                currentStage = 'bet';
                betMade = false;
                betPhaseEnded = false;
                secondBetStartTime = performance.now();
                setTimeout(function() {
                    betPhaseEnded = true;
                    liveSend({second_bet_timer_ended: true});
                }, 1100);
            }
        }

        // Add this condition to highlight the computer-selected bet
        if ('highlight_computer_bet' in data) {
            selectBet(data.highlight_computer_bet);
        }

        // Add this condition to check if show_results has already been received
        if (window.showResultsReceived) {
            return;
        }

        // Show the results if the show_results flag is received
        if ('show_results' in data && data.show_results && !resultsShown) {
            resultsShown = true;
            betPhaseEnded = true;
            window.showResultsReceived = true;

            const chosenImagesSecondChoicePage = data.chosen_images;
            console.log('chosenImagesSecondChoicePage:', chosenImagesSecondChoicePage);

            const winLossImages = data.win_loss_images;
            const avatarWrappers = document.querySelectorAll('.avatar-wrapper');
            avatarWrappers.forEach((wrapper, index) => {
                const playerId = {{ other_player_ids|safe }}[index];
                const chosenImageSecondChoicePage = wrapper.querySelector('.chosen-image-secondchoicepage');
                console.log(`Updating chosen image for player ${playerId}:`, chosenImagesSecondChoicePage[playerId]);
                chosenImageSecondChoicePage.src = `/static/${chosenImagesSecondChoicePage[playerId]}`;
                chosenImageSecondChoicePage.style.display = 'block';

                const winLossImage = wrapper.querySelector('.win-loss-image');
                winLossImage.src = `/static/${winLossImages[playerId]}`;
                winLossImage.style.display = 'block';
            });

            // Display the win/loss image for the current participant
            const playerWinLossImage = data.player_win_loss_image;
            document.getElementById('player-win-loss-image').src = `/static/${playerWinLossImage}`;
            document.getElementById('player-win-loss-container').style.display = 'block';

            // Modify this part to ensure the bet is highlighted
            const betContainer = document.getElementById('bet-container');
            betContainer.style.pointerEvents = 'none';
            betContainer.style.opacity = '1.0';

            // Ensure the selected bet is highlighted
            if (data.selected_bet) {
                selectBet(data.selected_bet);
            }

            // Hide the 'Your bet?' text
            document.getElementById('bet-title').style.display = 'none';

            // Display the calculated reward based on the second bet for the current participant
            const secondBetReward = data.second_bet_reward;
            document.getElementById('trial-reward').textContent = `${secondBetReward} points`;
            document.getElementById('trial-reward').style.display = 'block';

            // Set a timeout to log a message and transition to the next round after the intertrial interval has finished
            setTimeout(() => {
                console.log(`Intertrial interval of ${data.intertrial_interval}ms has finished.`);
                console.log(`Round ${data.round_number} finished. Transitioning to the next round.`);
                console.log('Transitioning to the next round');

                // Set default values for the choice2 and bet2 fields if they are empty
                const choice2Field = document.getElementById('choice2_field');
                const bet2Field = document.getElementById('bet2_field');

                if (!choice2Field.value) {
                    choice2Field.value = 'left'; // Set a default value (e.g., 'left')
                }

                if (!bet2Field.value) {
                    bet2Field.value = 1; // Set a default value (e.g., 1)
                }

                setTimeout(function() {
                    document.getElementById('form').submit();
                    console.log('Form submitted');
                }, 100);
            }, data.intertrial_interval);
        }
    }
</script>

{{ endblock }}