{% block title %}{% endblock %}
{% block content %}
<style>
    body {
        background-color: white;
        color: black;
        font-size: 24px;
        text-align: center;
    }
    #results-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    p {
        font-size: 32px;
        margin-bottom: 30px;
    }
    button {
        font-size: 24px;
        padding: 10px 20px;
    }
</style>

<div id="results-container">
    <p>Your total score for the practice game is {{ total_reward_earnings }} points.</p>
    <p>Please press the button below to continue.</p>
    <button onclick="window.location.href='/'">Continue</button>
</div>
{% endblock %}