{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}{% endblock %}

{% block content %}

    <style>
        .center-text {
            text-align: center;
        }
        p {
            font-size: 25px;
        }
        #timer {
            font-size: 48px;
            margin: 20px 0;
        }
    </style>

    <div style="text-align: center;">
        <div id="timer"></div>  
        <p style="font-size: 30px;">The practice game will begin when the countdown expires.</p>
        <br>
        <p>Please have your hands over the numbers and arrows on your keyboard and be ready to make your initial choice by pressing the left or right arrow key.</p>
        <br>
        <img src="{% static 'instructions/hands.png' %}" alt="Hands" width="600px">
        <br>
    </div>

    <div style="display: none;">
        {% next_button %}
    </div>

    <script>
        let countdown = {{ transition_time }};
        let timerElement = document.getElementById('timer');

        function startCountdown() {
            let countdownInterval = setInterval(() => {
                countdown--;
                timerElement.innerText = countdown;

                if (countdown === 0) {
                    clearInterval(countdownInterval);
                    setTimeout(() => {
                        document.getElementById('form').submit();
                    }, 500);
                }
            }, 1000);
        }

        startCountdown();
    </script>
{% endblock %}