{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h4>Task Instructions</h4>
    </div>
    <div class="card-body">
        <p>Welcome to the reversal learning task. In this task, you will make a series of choices between two options: Option A and Option B.</p>
        
        <p>In each round, one of these options will be more likely to give you a reward than the other option. 
        Your goal is to figure out which option is better and choose it to maximize your score.</p>
        
        <p>Important: The better option can change during the task without warning. When this happens, the previously better option 
        becomes the worse option, and vice versa. This is called a "reversal".</p>
        
        <p>You will receive feedback after each choice to help you learn which option is currently better.</p>
        
        <p>Your final score will be the sum of all points earned during the task. Try to do well, the higher your points score, the more your financial bonus payment is!</p>
        
        <p>Good luck!</p>
    </div>
</div>

{% next_button %}
{% endblock %}