{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Comprehension Checks
{% endblock %}

{% block content %}
<div class="container">
    <p>This is a comprehension check to test your understanding of the task. Please answer all questions and submit the form by pressing the 'Next' button.
        You will receive feedback on your answers in the next page.
    </p>
    
    <div class="question-block">
        <h3>Question 1</h3>
        <p>You make a first bet of 2, but change to 3 for your second bet. You do not change your chosen option. 
        During the round feedback you learn that the option chosen was not rewarded on this trial.</p>
        <p>How many points do you earn/lose for your second choice?</p>
        
        {% formfield player.comprehension_q1 label="" %}
        
        {% if form.comprehension_q1.errors %}
        <p>Incorrect. The correct answer is: minus 60 points. Because the image was not rewarded, you lose a base of 20 points. This is then multiplied by the second bet (3) so you lose 60 points.</p>
        {% endif %}
    </div>
    
    <div class="question-block">
        <h3>Question 2</h3>
        <p>Please select Option 3.</p>
        
        {% formfield player.comprehension_q2 label="" %}
        
        {% if form.comprehension_q2.errors %}
        <p>Incorrect. The correct answer is: Option 3.</p>
        {% endif %}
    </div>
    
    <div class="question-block">
        <h3>Question 3</h3>
        <p>Which of the following accurately describes how your bonus payment is calculated?</p>
        
        {% formfield player.comprehension_q3 label="" %}
        
        {% if form.comprehension_q3.errors %}
        <p>Incorrect. The correct answer is: From either the first and second choices/bets but randomly on each trial. Whether your first choice/bet or second choice/bet is chosen is randomly determined on each trial.</p>
        {% endif %}
    </div>
    
    <div class="question-block">
        <h3>Question 4</h3>
        <p>Which accurately describes how likely each of the options will give a reward/loss in each block?</p>
        
        {% formfield player.comprehension_q4 label="" %}
        
        {% if form.comprehension_q4.errors %}
        <p>Incorrect. The correct answer is: One option will give you a reward most of the time, and the other will give you a loss most of the time.</p>
        {% endif %}
    </div>
    
    {% next_button %}
</div>
{% endblock %}