{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Task Instructions
{% endblock %}

{% block content %}
<div class="container">
    <h3>Initial Choice and Bet</h3>
    
    <p>At the beginning of each round, you will make your first choice for which option you think will give you points.</p>
    
    <p>You will then be asked to place a 'bet' as to how confident you are that the option selected is the option that will give you points. You cannot change your bet once it is made.</p>
    
    <p>This should reflect your confidence: "1" (not confident), "2" (reasonably confident), or "3" (very confident), specifically for the first choice.
        Ultimately, you should make your initial bet based on how confident you are that the option selected for your initial choice is the option that will give you points, regardless of anything else.
    </p>

    <p>For example, if you bet '3' and are correct, you will receive 60 points, but if you bet '3' and are incorrect, you will lose 60 points (as the bet is multiplied by 20).</p>
    
    <p>Conversely, if you bet '1' and are correct, you will only receive 20 points, but if you bet '1' and lose, you will only lose 20 points.</p>
    
    <p>Whilst you do not receive feedback on the screen whether your first choice is 'correct', your score - which also corresponds to your bonus payment - will be randomly chosen from either your first choice and bet or from your second choice and bet. 
        It is therefore important to make your first choice and bet appropriately to maximize your bonus.</p>
    
    <p>The other four players in the group will be making choices and bets at the same time as you. After you have made your choice and bet, the choices of the other players in the group will then be revealed.</p>
    
    <h3>Second Choice and Bet</h3>
    
    <p>After the initial choices for the other players have been displayed, you are presented with the opportunity to revise your first choice and bet by making a second choice and second bet, before being presented with the results for yourself and others in the group.</p>
    
    <p>You will firstly be asked to make a second choice, which may be the same or different to your first choice.</p>
    
    <p>You will then be asked to make your second bet, which can be the same or different to your first bet.</p>
    
    <p>Again this should reflect your confidence: "1" (not confident), "2" (reasonably confident), or "3" (very confident) specifically for your second choice. 
        Ultimately, you should make your second bet based on how confident you are that the option selected for your second choice is the option that will give you points, regardless of anything else.
    </p>
    
    <p>For example, if you bet '3' and win, you will receive 60 points, but if you bet '3' and lose, you will lose 60 points (as the bet is multiplied by 20).</p>
    
    <p>Conversely, if you bet '1' and win, you will only receive 20 points, but if you bet '1' and lose, you will only lose 20 points.</p>
    
    <p>Your score - which also corresponds to your bonus payment - will be randomly chosen from either your first choice and bet or from your second choice and bet. 
        It is therefore important to make your second choice and bet appropriately to maximize your bonus.</p>
    
    <h3>Feedback</h3>
    
    <p>After making your second choice and bet, you will then receive feedback for your second choice/bet as well as the second choices made by others within the group.</p>
    
    <p>You will be shown the amount of points gained or lost for that round. The amount of points displayed represents your second choice and second bet only.</p>
    
    <p>Remember that your points score corresponding to your bonus payment is taken randomly from either your first choice/bet or your second choice/bet on each round. 
        Feedback is only given for your second choice/bet so you can learn which option is being rewarded, but this does not necessarily reflect your points total. You should ultimately treat both choices and bets as if they were going to contribute to your score.</p>
    
    <p>You will also see the second choice made for all the other players in the group (so you can determine whether they changed their choice) and whether they were correct or incorrect in that choice. However, you will not see how much they gained or lost.</p>
    
    <p>After this, you will move onto the next round, where you will start again by making a new first choice.</p>

    <h3>Summary</h3>

    <p>So, just to re-iterate the key components of the task:
        
    <p>You make choices based on which option you think is the more rewarding option. This will switch between options across blocks, as the task is a reversal learning task with probabilistic reward contingencies.</p>
    <br>
    <p>You make corresponding bets based upon your confidence in your choices. The bets should not be part of some overall strategy, but should be made accordingly to maximise your points total. 
        For example, if you are very confident in your choice, you should bet '3', but if you are not confident, you should bet '1'. If you are reasonably confident, you should bet '2'.
        Betting '2' when you are extremely confident is not a good strategy, as you will not gain as many points as you could have done if you had bet '3'.
        Conversely, betting '3' when you are not confident is also not a good strategy, as you will lose more points than you would have done if you had bet '1'.</p>
    <br>
    <p>You are free to use your own knowledge and experience, as well as the choices of others when making your choices and bets. 
        This includes feedback for yourself and for others, and you may choose to integrate information both within the same round and from previous rounds.</p>
    
    <p>When you are ready, please press the button below to move onto a comprehension check, to ensure that you understand the key components of the experiment.</p>
</div>

{% next_button %}
{% endblock %}