{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Reward Structure
{% endblock %}

{% block content %}
<div class="container">
    <h2>Task Overview</h2>
    
    <p>In this experiment, you will make a series of choices between two options, 'Option A' and 'Option B' over several rounds.
        In each round one Option will reward you by giving you points, whilst the other Option will give you a loss, reducing your score.</p>

    <p>However the reward contingency is probabilistic, meaning that one option is more likely to give you a reward than a loss, and the other is more likely to give you a loss than a reward.</p>

    <p>The task is also a reversal learning task, meaning that the reward contingencies will switch at unspecified points. 
        This will happen multiple times across the task, such that the 'better' option will become the 'worse' option and vice versa.</p>
    </p>
    
    <p>You will be playing with four other players in real time, who will also make the same choices.</p>

    <p>During the task, you will be able to make an initial choice and bet (confidence rating) in that choice, before seeing the initial choices of others within the group.</p>

    <p>After this, you are provided the opportunity to revise your choice and bet in response to the choices made by others.</p>

    <p>You may choose to either trust your own learning experience through trial and error and/or take decisions from others in the group into consideration, as some of the other players might learn faster than others.</p>
    
    <p>However, there is no competition or cooperation with other players. Your aim is solely to maximize the amount of points that you score, which will be converted into a bonus payment at the end of the experiment. 
        The more points you score, the higher your bonus payment will be!</p>

    <p>As a result, the experiment aims understand how social learning from others and individual learning from one's own experience contribute to social decision-making.</p>

    <h2>Reward Structure</h2>
    
    <p>In each round, one option will reward you whilst the other will lower your score. Which option does which is the same for all players in the group. 
        For example, Option A will either be correct for all players in the group, or incorrect for all players in the group. 
        It will not be correct or incorrect for some and not others.</p>
    
    <p>Reflecting the 'reversal learning' nature of the task, the rounds are split into several blocks.
         Within each block, both options will give you wins and losses, such that one option is more likely to give you points (but will sometimes give a loss) whilst the other is more likely to give you a loss (but will sometimes reward you).
        In other words, the reward structure is probabilistic, meaning that within each block, one option will will give you a reward most of the time, and the other will give you a loss most of the time.</p>
    </p>

    <p>The reward structure is not random, it is probabilistically determined for one option to be more/less advantageous than the other within each block.</p>
    
    <p>However, this will switch multiple times across the task, such that the 'better' option will become the 'worse' option and vice versa.</p>
    
    <p>For example, whilst it may be better overall to choose one option over the other in one block, in the next block it will be the other way round.</p>
    
    <p>This is a very important aspect of the game, because if the option gave you the same outcome every time in each block, you would always know which one to pick and when exactly the reversals happen!</p>
    
    <p>However, in the very first block, whether 'Option A' or 'Option B' is the more rewarding option will be selected at random. It will subsequently alternate from then onwards.</p>
    
    <p>For example, if 'Option A' was randomly selected to be the more rewarding option in the first block, 'Option B' will be more rewarding in the second block, 'Option A' in the third and so on. 
        The same pattern applies if 'Option B' is randomly selected to be the more rewarding option in the first block; 'Option A' will be more rewarding in the second block, Option B in the third and so on.
        Ultimately, it will never be the case that 'Option A' or 'Option B' is the more rewarding option in two blocks in a row.</p>
    
    <p>The challenge of the game is that when and how often the switches take place are unknown to you. You will not know when the switch has occurred and a new block has started. 
        You should therefore pay attention to the feedback and adjust your choices accordingly.</p>
    
    <p>As mentioned, over the course of the game, you may choose to either trust your own learning experience through trial and error and/or take decisions from others in the group into consideration, as some of the other players might learn faster than others.</p>

    <p>It is completely up to you to extent in which you are influenced by the decisions of others, or to trust your own experience.</p>

    <p>However, remember that there is no competition or co-operation with other players, your aim is solely to maximise the amount of points that you score.</p>
    
    <p>When you are ready, please press the button below to move onto the next page of instructions which will describe the task structure in more detail.</p>
</div>

{% next_button %}
{% endblock %}