# Virtual Environment
venv/

# Environment Variables
.env

# Django Files
staticfiles
./db.sqlite3
*.sqlite3
_static_root

# Bot and Temporary Files
_bots*s
__temp*
__pycache__/
*.py[cod]
botex_data/
data/

# IDE and Editor Files
.idea
*~
.DS_Store

# oTree Specific
*.otreezip
heroku_cheatsheet.txt

# R Related Files
*.Rproj
*.Rhistory
*.Rproj.user

# Data and scripts
Rmd/
data/