{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        .container {
            justify-content: center;
            align-items: center;
            max-width: 90%;
            font-size: 1.2vw;
            text-align: center;
        }
        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        p {
            font-size: 20px;
        }
    </style>

    <div class="container">
        <h2><b>Main Game Instructions</b></h2>
        <br>
        <p>You will now play the main task. This will last around 45 minutes, and consists of 100 rounds. As mentioned, the probabilities of the rewards will switch at certain points within the task.</p>
    <br>
        <p>The time provided for each of the individual sections is shorter, compared to the actual game (between 2-3 seconds per decision), so please remember to provide your responses in time! If you do not, a random choice will be made for you.</p>

        <p>Please press the next button when you are ready to play the main game. You will again be placed into a waiting room, it should take no longer than a minute for all 3 players to join.</p>

        <br>
        <br>
        {% next_button %}
    </div>
{% endblock %}