{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}{% endblock %}

{% block content %}
<div style="text-align: center;">
    <p style="font-size: 30px;">You have been matched into a group of five players. The task will begin when the countdown expires.</p>
            <p>Please have your hands over the numbers and arrows on your keyboard and be ready to make your initial choice by pressing the left or right arrow key.</p>
            <br>
        <img src="{% static 'instructions/hands.png' %}" alt="Hands" width="800px">
        <br>
    <div id="timer" style="font-size: 36px; margin-top: 20px;"></div>
</div>

    <div style="display: none;">
        {% next_button %}
    </div>

    <script>
        let countdown = {{ transition_time }};
        let timerElement = document.getElementById('timer');

        function startCountdown() {
            let countdownInterval = setInterval(() => {
                countdown--;
                timerElement.innerText = countdown;

                if (countdown === 0) {
                    clearInterval(countdownInterval);
                    setTimeout(() => {
                        document.getElementById('form').submit();
                    }, 500);
                }
            }, 1000);
        }

        startCountdown();
    </script>
{% endblock %}