{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Questionnaire 4</h5>
        </div>
        <div class="card-body">
            <p>Below are a series of statements. Please indicate the degree to which you agree or disagree with each statement.</p>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 70%">Statement</th>
                        <th style="width: 30%">Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. I feel sad or upset when I hear bad news.</td>
                        <td>{% formfield player.ami_1 label="" %}</td>
                    </tr>
                    <tr>
                        <td>2. I start conversations with random people.</td>
                        <td>{% formfield player.ami_2 label="" %}</td>
                    </tr>
                    <tr>
                        <td>3. I enjoy doing things with people I have just met.</td>
                        <td>{% formfield player.ami_3 label="" %}</td>
                    </tr>
                    <tr>
                        <td>4. I suggest activities for me and my friends to do.</td>
                        <td>{% formfield player.ami_4 label="" %}</td>
                    </tr>
                    <tr>
                        <td>5. I make decisions firmly and without hesitation.</td>
                        <td>{% formfield player.ami_5 label="" %}</td>
                    </tr>
                    <tr>
                        <td>6. After making a decision, I will wonder if I have made the wrong choice.</td>
                        <td>{% formfield player.ami_6 label="" %}</td>
                    </tr>
                    <tr>
                        <td>7. Based on the last two weeks, I will say I care deeply about how my loved ones think of me.</td>
                        <td>{% formfield player.ami_7 label="" %}</td>
                    </tr>
                    <tr>
                        <td>8. I go out with friends on a weekly basis.</td>
                        <td>{% formfield player.ami_8 label="" %}</td>
                    </tr>
                    <tr>
                        <td>9. When I decide to do something, I am able to make an effort easily.</td>
                        <td>{% formfield player.ami_9 label="" %}</td>
                    </tr>
                    <tr>
                        <td>10. I don't like to laze around.</td>
                        <td>{% formfield player.ami_10 label="" %}</td>
                    </tr>
                    <tr>
                        <td>11. I get things done when they need to be done, without requiring reminders from others.</td>
                        <td>{% formfield player.ami_11 label="" %}</td>
                    </tr>
                    <tr>
                        <td>12. When I decide to do something, I am motivated to see it through to the end.</td>
                        <td>{% formfield player.ami_12 label="" %}</td>
                    </tr>
                    <tr>
                        <td>13. I feel awful if I say something insensitive.</td>
                        <td>{% formfield player.ami_13 label="" %}</td>
                    </tr>
                    <tr>
                        <td>14. I start conversations without being prompted.</td>
                        <td>{% formfield player.ami_14 label="" %}</td>
                    </tr>
                    <tr>
                        <td>15. When I have something I need to do, I do it straightaway so it is out of the way.</td>
                        <td>{% formfield player.ami_15 label="" %}</td>
                    </tr>
                    <tr>
                        <td>16. I feel bad when I hear an acquaintance has an accident or illness.</td>
                        <td>{% formfield player.ami_16 label="" %}</td>
                    </tr>
                    <tr>
                        <td>17. I enjoy choosing what to do from a range of activities.</td>
                        <td>{% formfield player.ami_17 label="" %}</td>
                    </tr>
                    <tr>
                        <td>18. If I realise I have been unpleasant to someone, I feel terribly guilty afterwards.</td>
                        <td>{% formfield player.ami_18 label="" %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% next_button %}
{% endblock %}