{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Apathy Motivation Index - Part 1
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Questionnaire 4 (Part 1 of 2)</h5>
        </div>
        <div class="card-body">
            <p>Below are a series of statements. Please indicate the degree to which you agree or disagree with each statement.</p>
            
            <div class="alert alert-info">
                <p>Rate how much you agree or disagree with each statement:<br>
                Choose from: Completely Untrue, Somewhat Untrue, Neither True nor Untrue, Somewhat True, or Completely True</p>
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 1: I feel sad or upset when I hear bad news</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_1 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 2: I start conversations with random people</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_2 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 3: I enjoy doing things with people I have just met</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_3 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 4: I suggest activities for me and my friends to do</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_4 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 5: I make decisions firmly and without hesitation</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_5 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 6: After making a decision, I will wonder if I have made the wrong choice</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_6 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 7: Based on the last two weeks, I will say I care deeply about how my loved ones think of me</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_7 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 8: I go out with friends on a weekly basis</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_8 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 9: When I decide to do something, I am able to make an effort easily</h4>
                <p><strong>How much do you agree or disagree with this statement?</strong></p>
                {% formfield player.ami_9 label="" %}
            </div>
        </div>
    </div>
    
    {% next_button %}
{% endblock %}