{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Self-Report Psychopathy Scale - Part 3
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Questionnaire 5 (Part 3 of 3)</h5>
        </div>
        <div class="card-body">
            <p>Please rate the final statements, indicating the degree to which you agree with each one.</p>
            
            <div class="alert alert-info">
                <p>Rate how much you agree with each statement:<br>
                Choose from: Disagree Strongly, Disagree, Neutral, Agree, or Agree Strongly</p>
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 21: I keep getting in trouble for the same things over and over.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_21 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 22: Every now and then I carry a weapon (knife or gun) for protection.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_22 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 23: You can get what you want by telling people what they want to hear.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_23 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 24: I never feel guilty over hurting others.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_24 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 25: I have threatened people into giving me money, clothes, or makeup.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_25 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 26: A lot of people are "suckers" and can easily be fooled.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_26 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 27: I admit that I often "mouth off" without thinking.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_27 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 28: I sometimes dump friends that I don't need anymore.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_28 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 29: I purposely tried to hit someone with the vehicle I was driving.</h4>
                <p><strong>How much do you agree with this statement?</strong></p>
                {% formfield player.srpsf_29 label="" %}
            </div>
        </div>
    </div>
    
    {% next_button %}
{% endblock %}