{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Questionnaire 5</h5>
        </div>
        <div class="card-body">
            <p>Please rate the degree to which you agree with the following statements about you. You can be honest because your name is not associated with your responses.</p>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 70%">Statement</th>
                        <th style="width: 30%">Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. I'm a rebellious person.</td>
                        <td>{% formfield player.srpsf_1 label="" %}</td>
                    </tr>
                    <tr>
                        <td>2. I have never been involved in delinquent gang activity.</td>
                        <td>{% formfield player.srpsf_2 label="" %}</td>
                    </tr>
                    <tr>
                        <td>3. Most people are wimps.</td>
                        <td>{% formfield player.srpsf_3 label="" %}</td>
                    </tr>
                    <tr>
                        <td>4. I've often done something dangerous just for the thrill of it.</td>
                        <td>{% formfield player.srpsf_4 label="" %}</td>
                    </tr>
                    <tr>
                        <td>5. I have tricked someone into giving me money.</td>
                        <td>{% formfield player.srpsf_5 label="" %}</td>
                    </tr>
                    <tr>
                        <td>6. I have assaulted a law enforcement official or social worker.</td>
                        <td>{% formfield player.srpsf_6 label="" %}</td>
                    </tr>
                    <tr>
                        <td>7. I have pretended to be someone else in order to get something.</td>
                        <td>{% formfield player.srpsf_7 label="" %}</td>
                    </tr>
                    <tr>
                        <td>8. I like to see fist-fights.</td>
                        <td>{% formfield player.srpsf_8 label="" %}</td>
                    </tr>
                    <tr>
                        <td>9. I would get a kick out of 'scamming' someone.</td>
                        <td>{% formfield player.srpsf_9 label="" %}</td>
                    </tr>
                    <tr>
                        <td>10. It's fun to see how far you can push people before they get upset.</td>
                        <td>{% formfield player.srpsf_10 label="" %}</td>
                    </tr>
                    <tr>
                        <td>11. I enjoy doing wild things.</td>
                        <td>{% formfield player.srpsf_11 label="" %}</td>
                    </tr>
                    <tr>
                        <td>12. I have broken into a building or vehicle in order to steal something or vandalize.</td>
                        <td>{% formfield player.srpsf_12 label="" %}</td>
                    </tr>
                    <tr>
                        <td>13. I don't bother to keep in touch with my family any more.</td>
                        <td>{% formfield player.srpsf_13 label="" %}</td>
                    </tr>
                    <tr>
                        <td>14. I rarely follow the rules.</td>
                        <td>{% formfield player.srpsf_14 label="" %}</td>
                    </tr>
                    <tr>
                        <td>15. You should take advantage of other people before they do it to you.</td>
                        <td>{% formfield player.srpsf_15 label="" %}</td>
                    </tr>
                    <tr>
                        <td>16. People sometimes say that I'm cold-hearted.</td>
                        <td>{% formfield player.srpsf_16 label="" %}</td>
                    </tr>
                    <tr>
                        <td>17. I like to have sex with people I barely know.</td>
                        <td>{% formfield player.srpsf_17 label="" %}</td>
                    </tr>
                    <tr>
                        <td>18. I love violent sports and movies.</td>
                        <td>{% formfield player.srpsf_18 label="" %}</td>
                    </tr>
                    <tr>
                        <td>19. Sometimes you have to pretend you like people to get something out of them.</td>
                        <td>{% formfield player.srpsf_19 label="" %}</td>
                    </tr>
                    <tr>
                        <td>20. I was convicted of a serious crime.</td>
                        <td>{% formfield player.srpsf_20 label="" %}</td>
                    </tr>
                    <tr>
                        <td>21. I keep getting in trouble for the same things over and over.</td>
                        <td>{% formfield player.srpsf_21 label="" %}</td>
                    </tr>
                    <tr>
                        <td>22. Every now and then I carry a weapon (knife or gun) for protection.</td>
                        <td>{% formfield player.srpsf_22 label="" %}</td>
                    </tr>
                    <tr>
                        <td>23. You can get what you want by telling people what they want to hear.</td>
                        <td>{% formfield player.srpsf_23 label="" %}</td>
                    </tr>
                    <tr>
                        <td>24. I never feel guilty over hurting others.</td>
                        <td>{% formfield player.srpsf_24 label="" %}</td>
                    </tr>
                    <tr>
                        <td>25. I have threatened people into giving me money, clothes, or makeup.</td>
                        <td>{% formfield player.srpsf_25 label="" %}</td>
                    </tr>
                    <tr>
                        <td>26. A lot of people are "suckers" and can easily be fooled.</td>
                        <td>{% formfield player.srpsf_26 label="" %}</td>
                    </tr>
                    <tr>
                        <td>27. I admit that I often "mouth off" without thinking.</td>
                        <td>{% formfield player.srpsf_27 label="" %}</td>
                    </tr>
                    <tr>
                        <td>28. I sometimes dump friends that I don't need anymore.</td>
                        <td>{% formfield player.srpsf_28 label="" %}</td>
                    </tr>
                    <tr>
                        <td>29. I purposely tried to hit someone with the vehicle I was driving.</td>
                        <td>{% formfield player.srpsf_29 label="" %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% next_button %}
{% endblock %}