{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Questionnaire 6</h5>
        </div>
        <div class="card-body">
            <p>For each statement, say whether it applies to you or not by selecting "No" or "Yes".</p>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 70%">Statement</th>
                        <th style="width: 15%">No</th>
                        <th style="width: 15%">Yes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. Are you easily confused if too much happens at the same time?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_1" value="0" id="ssms_1_0" required>
                                <label class="form-check-label" for="ssms_1_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_1" value="1" id="ssms_1_1">
                                <label class="form-check-label" for="ssms_1_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2. Do you frequently have difficulty in starting to do things?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_2" value="0" id="ssms_2_0" required>
                                <label class="form-check-label" for="ssms_2_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_2" value="1" id="ssms_2_1">
                                <label class="form-check-label" for="ssms_2_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3. Are you a person whose mood goes up and down easily?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_3" value="0" id="ssms_3_0" required>
                                <label class="form-check-label" for="ssms_3_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_3" value="1" id="ssms_3_1">
                                <label class="form-check-label" for="ssms_3_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4. Do you dread going into a room by yourself where other people have already gathered and are talking?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_4" value="0" id="ssms_4_0" required>
                                <label class="form-check-label" for="ssms_4_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_4" value="1" id="ssms_4_1">
                                <label class="form-check-label" for="ssms_4_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5. Do you find it difficult to keep interested in the same thing for a long time?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_5" value="0" id="ssms_5_0" required>
                                <label class="form-check-label" for="ssms_5_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_5" value="1" id="ssms_5_1">
                                <label class="form-check-label" for="ssms_5_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6. Do you often have difficulties in controlling your thoughts?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_6" value="0" id="ssms_6_0" required>
                                <label class="form-check-label" for="ssms_6_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_6" value="1" id="ssms_6_1">
                                <label class="form-check-label" for="ssms_6_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7. Are you easily distracted from work by daydreams?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_7" value="0" id="ssms_7_0" required>
                                <label class="form-check-label" for="ssms_7_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_7" value="1" id="ssms_7_1">
                                <label class="form-check-label" for="ssms_7_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>8. Do you ever feel that your speech is difficult to understand because the words are all mixed up and don't make sense?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_8" value="0" id="ssms_8_0" required>
                                <label class="form-check-label" for="ssms_8_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_8" value="1" id="ssms_8_1">
                                <label class="form-check-label" for="ssms_8_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>9. Are you easily distracted when you read or talk to someone?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_9" value="0" id="ssms_9_0" required>
                                <label class="form-check-label" for="ssms_9_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_9" value="1" id="ssms_9_1">
                                <label class="form-check-label" for="ssms_9_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>10. Is it hard for you to make decisions?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_10" value="0" id="ssms_10_0" required>
                                <label class="form-check-label" for="ssms_10_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_10" value="1" id="ssms_10_1">
                                <label class="form-check-label" for="ssms_10_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>11. When in a crowded room, do you often have difficulty in following a conversation?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_11" value="0" id="ssms_11_0" required>
                                <label class="form-check-label" for="ssms_11_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_11" value="1" id="ssms_11_1">
                                <label class="form-check-label" for="ssms_11_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>12. Are there very few things that you have ever enjoyed doing?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_12" value="0" id="ssms_12_0" required>
                                <label class="form-check-label" for="ssms_12_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_12" value="1" id="ssms_12_1">
                                <label class="form-check-label" for="ssms_12_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>13. Are you much too independent to get involved with other people?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_13" value="0" id="ssms_13_0" required>
                                <label class="form-check-label" for="ssms_13_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_13" value="1" id="ssms_13_1">
                                <label class="form-check-label" for="ssms_13_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>14. Do you love having your back massaged?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_14" value="0" id="ssms_14_0" required>
                                <label class="form-check-label" for="ssms_14_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_14" value="1" id="ssms_14_1">
                                <label class="form-check-label" for="ssms_14_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>15. Do you find the bright lights of a city exciting to look at?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_15" value="0" id="ssms_15_0" required>
                                <label class="form-check-label" for="ssms_15_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_15" value="1" id="ssms_15_1">
                                <label class="form-check-label" for="ssms_15_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>16. Do you feel very close to your friends?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_16" value="0" id="ssms_16_0" required>
                                <label class="form-check-label" for="ssms_16_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_16" value="1" id="ssms_16_1">
                                <label class="form-check-label" for="ssms_16_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>17. Has dancing or the idea of it always seemed dull to you?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_17" value="0" id="ssms_17_0" required>
                                <label class="form-check-label" for="ssms_17_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_17" value="1" id="ssms_17_1">
                                <label class="form-check-label" for="ssms_17_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>18. Do you like mixing with people?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_18" value="0" id="ssms_18_0" required>
                                <label class="form-check-label" for="ssms_18_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_18" value="1" id="ssms_18_1">
                                <label class="form-check-label" for="ssms_18_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>19. Is trying new foods something you have always enjoyed?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_19" value="0" id="ssms_19_0" required>
                                <label class="form-check-label" for="ssms_19_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_19" value="1" id="ssms_19_1">
                                <label class="form-check-label" for="ssms_19_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>20. Have you often felt uncomfortable when your friends touch you?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_20" value="0" id="ssms_20_0" required>
                                <label class="form-check-label" for="ssms_20_0"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_20" value="1" id="ssms_20_1">
                                <label class="form-check-label" for="ssms_20_1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21. Do you prefer watching television to going out with people?</td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_21" value="0" id="ssms_21_0" required>
                                <label class="form-check-label" for="ssms_21_0">No</label>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ssms_21" value="1" id="ssms_21_1">
                                <label class="form-check-label" for="ssms_21_1">Yes</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% next_button %}
{% endblock %}