{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Schizotypal Symptoms & Mood Scale - Part 1
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Questionnaire 6 (Part 1 of 2)</h5>
        </div>
        <div class="card-body">
            <p>For each statement, say whether it applies to you or not by selecting "No" or "Yes".</p>
            
            <div class="alert alert-info">
                <p>For each statement, choose either:<br>
                <strong>No</strong> - The statement does not apply to you<br>
                <strong>Yes</strong> - The statement applies to you</p>
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 1: Are you easily confused if too much happens at the same time?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_1 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 2: Do you frequently have difficulty in starting to do things?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_2 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 3: Are you a person whose mood goes up and down easily?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_3 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 4: Do you dread going into a room by yourself where other people have already gathered and are talking?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_4 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 5: Do you find it difficult to keep interested in the same thing for a long time?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_5 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 6: Do you often have difficulties in controlling your thoughts?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_6 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 7: Are you easily distracted from work by daydreams?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_7 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 8: Do you ever feel that your speech is difficult to understand because the words are all mixed up and don't make sense?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_8 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 9: Are you easily distracted when you read or talk to someone?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_9 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 10: Is it hard for you to make decisions?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_10 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 11: When in a crowded room, do you often have difficulty in following a conversation?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_11 label="" %}
            </div>
        </div>
    </div>
    
    {% next_button %}
{% endblock %}