{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Schizotypal Symptoms & Mood Scale - Part 2
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <h5>Questionnaire 6 (Part 2 of 2)</h5>
        </div>
        <div class="card-body">
            <p>Please continue answering whether each statement applies to you by selecting "No" or "Yes".</p>
            
            <div class="alert alert-info">
                <p>For each statement, choose either:<br>
                <strong>No</strong> - The statement does not apply to you<br>
                <strong>Yes</strong> - The statement applies to you</p>
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 12: Are there very few things that you have ever enjoyed doing?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_12 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 13: Are you much too independent to get involved with other people?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_13 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 14: Do you love having your back massaged?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_14 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 15: Do you find the bright lights of a city exciting to look at?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_15 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 16: Do you feel very close to your friends?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_16 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 17: Has dancing or the idea of it always seemed dull to you?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_17 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 18: Do you like mixing with people?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_18 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 19: Is trying new foods something you have always enjoyed?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_19 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 20: Have you often felt uncomfortable when your friends touch you?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_20 label="" %}
            </div>
            
            <div class="question-block mb-4">
                <h4>Statement 21: Do you prefer watching television to going out with people?</h4>
                <p><strong>Does this statement apply to you?</strong></p>
                {% formfield player.ssms_21 label="" %}
            </div>
        </div>
    </div>
    
    {% next_button %}
{% endblock %}