{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <h2>Comprehension Check Results</h2>
    
    {% if all_correct %}
    <p><strong>Congratulations! All your answers were correct. You have passed the comprehension test. 
        <br>
        <br>
        Please review your answers and the reasoning below.</strong></p>
    {% else %}
    <p><strong>Some of your answers were incorrect. Please review the feedback below which includes the reason behind the correct answers before proceeding.</strong></p>
    {% endif %}
    
    <h3>Question 1</h3>
    <p>You make a first bet of 2, but change to 3 for your second bet. You do not change your chosen option. During the round feedback you learn that the option chosen was not rewarded on this trial.</p>
    <p>How many points do you earn/lose for your second choice?</p>
    
    <p>Your answer: {{ q1_answer }}</p>
    
    {% if q1_correct %}
    <p><strong>Correct!</strong></p>
    {% else %}
    <p><strong>Incorrect.</strong> The correct answer is: minus 60 points.</p>
    {% endif %}

    <p>Reason: Because the option was not rewarded, you lose a base of 20 points. This is then multiplied by the second bet (3) so you lose 60 points (minus 60 points).</p>
    
    <h3>Question 2</h3>
    <p>This is a catch question. Please select Option 3.</p>
    
    <p>Your answer: {{ q2_answer }}</p>
    
    {% if q2_correct %}
    <p><strong>Correct!</strong></p>
    {% else %}
    <p><strong>Incorrect.</strong> The correct answer is: Option 3.</p>
    {% endif %}

    <p>Reason: This was a catch question to ensure you were paying attention!</p>
    
    <h3>Question 3</h3>
    <p>Which of the following accurately describes how your bonus payment is calculated?</p>
    
    <p>Your answer: {{ q3_answer }}</p>
    
    {% if q3_correct %}
    <p><strong>Correct!</strong></p>
    {% else %}
    <p><strong>Incorrect.</strong> The correct answer is: 'From either the first and second choices/bets but randomly on each trial'.</p>
    {% endif %}

    <p>Reason: Whether your first choice/bet or second choice/bet is chosen to contribute for your points total is randomly determined on each trial, so choose appropriately for both!
        Therefore, remember that whilst feedback is given for your second choice/bet, it is important to treat both choices and bets as if they were going to contribute to your score.</p>
    </p>
    
    <h3>Question 4</h3>
    <p>Which accurately describes how likely the options will give a reward/loss in each block?</p>
    
    <p>Your answer: {{ q4_answer }}</p>
    
    {% if q4_correct %}
    <p><strong>Correct!</strong></p>
    {% else %}
    <p><strong>Incorrect.</strong> The correct answer is: One option will give you a reward most of the time, and the other will give you a loss most of the time.</p>
    {% endif %}

    <p>Reason: Within each block, one option will be more likely to give you points (but will sometimes give a loss) whilst the other is more likely to give you a loss (but will sometimes reward you).
        In other words, the reward is probabilistic, and the same option will not always be rewarded in each block.</p>
    </p>
    
    {% if all_correct %}
    
    <h3>Next Steps</h3>
    <p>When you are ready, please press the 'Next' button to move onto the next page of instructions.</p>
    {% endif %}
    
    {% next_button %}
</div>
{% endblock %}