{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load otree %}

{{ block content }}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    body {
        background-color: black;
        color: white;
        font-size: 24px;
        display: block;
        justify-content: flex-start;
        align-items: center;
        height: 100vh; 
        margin: 0;
        transform: scale(1.1);
        transform-origin: top; 
        padding-top: 46px;
    }

    #option-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 900px;
        height: 600px;
        border: 7.5px solid white;
        padding: 30px;
        box-sizing: border-box;
        position: relative;
        margin: 50px auto 0;
    }

    #options {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        bottom: 32%;
    }

    #options img {
        width: 80px;
        height: 80px;
        margin: 0;
    }

    #option_left {
        position: absolute;
        left: 25%;
        transform: translateX(-50%);
    }

    #option_right {
        position: absolute;
        right: 25%;
        transform: translateX(50%);
    }

    #avatar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0px; 
        left: -25px;
    }

    .avatar-wrapper {
        position: relative;
        display: inline-block;
        margin: 0 15px;
    }

    .avatar-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: bold;
        color: black;
        z-index: 1;
    }

    .avatar {
        width: 75px;
        height: 75px;
    }

    .instructions {
        position: relative;
        color: white;
        text-align: center;
        width: 80%;
        max-width: 800px;
        margin-top: 30px;
        font-size: 28px;
    }

    .next-button {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 40px;
        background-color: #0000ff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 24px;
        z-index: 2;
        bottom: 5%; 
    }

    .next-button:hover {
        background-color: #0000dd;
    }

    .otree-btn-next {
        display: none !important;
    }

    .additional-text {
        margin-top: 10px;
        color: white;
        text-align: center;
    }
</style>

<div id="option-container">
    <div id="avatar-container">
        {% for i in '1234' %}
            <div class="avatar-wrapper">
                <img src="{% static 'practice_task/avatar_male.png' %}" alt="Player Avatar" class="avatar">
                <div class="avatar-number">{{ i }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="instructions">
        <p>If needed, adjust your browser window size so that you can see the entire white box and all player icons clearly.</p>
        <p>Once you have adjusted your display, click 'Next' to continue. Please keep your browser this size until the main task is completed.</p>
    </div>

    <div id="options">
        <img src="{% static 'practice_task/option1A.bmp' %}" id="option_left">
        <img src="{% static 'practice_task/option1B.bmp' %}" id="option_right">
    </div>
    
    <button class="next-button" onclick="document.getElementById('form').submit();">Next</button>
</div>

{{ endblock }}