{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0 8%;
        }

        .container {
            text-align: center;
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .bordered-image {
            border: 3px solid black;
            box-shadow: 0 0 0 3px black;
        }

        p {
            font-size: 24px;
        }

        h3 {
            font-size: 32px;
        }

        /* Consolidated highlight boxes */
        .red-highlight-box, .green-highlight-box {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            text-align: center;
        }

        .red-highlight-box {
            background-color: #ffebee;
            border: 2px solid #f44336;
        }

        .green-highlight-box {
            background-color: #e8f5e9;
            border: 2px solid #4caf50;
            margin: 20px 0;
        }

        .red-highlight-box h2, .red-highlight-box h3, .red-highlight-box p {
            margin: 10px 0;
        }

        .green-highlight-box h3 {
            margin: 0;
            color: #2e7d32;
        }

        .next-button {
            background-color: #007bff;
            border: 1px solid transparent;
            border-radius: 0.25rem;
            font-size: 24px;
            padding: 10px 20px;
            color: white;
            cursor: pointer;
        }
    </style>

    <h1><b>Exiting the session</b></h1>
    <br>
    <div class="container">
        <div class="red-highlight-box">
            <h3>Please do not close or refresh the browser at any point during the experiment.</h3>
            <p>Doing so will mean that the data for your group may not be used.</p>
        </div>
        <br>
        <p><b>In the case that another player in your group leaves during either task (practice or main)</b>, the task will continue to run.</p>
        <br>
        <p>If this happens, you will still be able to complete the entire study including the questionnaires. 
            You will be paid for your time accordingly and your submission rate will not be affected.</p>
        <br>
        <div class="green-highlight-box">
            <h3>If you decide to participate, please try to complete the entire experiment!</h3>
        </div>
        <br>
        <p><b>We will now ask a number of questions to ensure that you correctly understand the task.</b></p>
        <p>Please press the button below to proceed when you are ready.</p>
        <br>
        <button class="next-button">Next</button>
    </div>

{% endblock %}