{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0 12%;  /* Add margins to the sides of the page */
        }

        .container {
            justify-content: center;
            align-items: center;
            max-width: 90%;
            font-size: 1.2vw;
            text-align: center;
        }
        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        p {
            font-size: 28px;
        }
        .blue-highlight-box {
            background-color: #e3f2fd;
            border: 2px solid #2196f3;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
        }
        .otree-btn-next {
            font-size: 28px;
            padding: 15px 40px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.1s;
            margin-top: 30px;
        }
        .otree-btn-next:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }
    </style>

    <div class="container">
        <h1><b>Practice Game Instructions</b></h1>
        <br>
        <p><b>To get familiar with the task, you will now get to play 3 practice rounds with four other players.</b></p>
        <br>
        <div class="blue-highlight-box">
            <p>The practice game is set up in the same way as the main game, but there are <b>no reversals,</b> and the reward probabilities <b>are fixed.</b>
                As such, you should not learn anything about the reward probabilities from the practice game.</p>
            <br>
            <p>This is just to get familiar with how the task works: which buttons to press and when.</p>
            <br>
            <p>The <b>time provided for each of the individual sections is also longer</b> in the practice game (approximately 8 seconds per decision), 
                compared to the actual game (between 2-3 seconds per decision), so you can understand the different components and have more time to make your decisions.</p>
        </div>
        <br>
        <p>Please press the next button when you are ready to play the practice game. We will put you into a waiting room where you will be matched with four other players.</p> 
        <p><b>It should take no longer than a few minutes to be matched (which is factored into your payment).</b></p> 
        <br>
        <p>The practice task itself will last approximately 3 minutes. <b>Please also change the size of your browser window to match the page if needed.</b></p>
        {% next_button %}
    </div>
{% endblock %}