{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0 12%;
        }

        .container {
            text-align: center;
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        p {
            font-size: 28px;
        }

        .blue-highlight-box {
            background-color: #e3f2fd;
            border: 2px solid #2196f3;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
        }

        .otree-btn-next {
            font-size: 28px;
            padding: 15px 40px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 30px;
        }
        
        .otree-btn-next:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="container">
        <h1><b>Practice Game Instructions</b></h1>
        <br>
        <p><b>To get familiar with the task, you will now get to play 4 practice rounds with four other players.</b></p>
        <br>
        <div class="blue-highlight-box">
            <p>The practice game is set up to work in the same way as the main game, but there are <b>no switches and does not count towards your bonus payment.</b></p>
            <br>
            <p>The images themselves will also be different between the two games.</p>
            <br>
            <p>The practice session is just to get familiar with how the game works: which buttons to press and when.</p>
            <br>
            <p>The <b>time provided for each of the individual decisions is also longer</b> in the practice game (6 seconds per choice), 
                compared to the main game (3 seconds per choice), so you can understand the different components and have more time to make your decisions.</p>
        </div>
        <br>
        <p>The practice game itself will last approximately 4 minutes.</p>
        <br>
        <p>When you are ready, press the next button. We will put you into a waiting room where you will be matched with four other players.</p> 
        <p><b>It should take no longer than a minute or two to be matched (which is factored into your payment).</b></p> 
        {% next_button %}
    </div>
{% endblock %}