{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0 12%;
        }

        .container {
            text-align: center;
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        p {
            font-size: 28px;
        }

        .blue-highlight-box {
            background-color: #e3f2fd;
            border: 2px solid #2196f3;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
        }

        .otree-btn-next {
            font-size: 28px;
            padding: 15px 40px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 30px;
        }
        
        .otree-btn-next:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="container">
        <h1><b>Practice Game Instructions</b></h1>
        <br>
        <p>Before you play the main game, you will now get to play <b>5 practice rounds.</b> 
            In this practice game, you will <b>not</b> be playing against the other players. The images representing the choices made by others in the group have been pre-determined.</p> 
            <br>
            <br>
            <p>This is just to get familiar with how the game works: which buttons to press and when.</p>
        <br>
        <div class="blue-highlight-box">
            <p>The practice game is set up to work in the same way as the main game, but there are <b>no switches and does not count towards your bonus payment.</b></p>
            <br>
            <p>The images themselves will also be different between the two games.</p>
            <br>
            <p>The <b>time provided for each of the individual decisions is also longer</b> (6 seconds per choice), 
                compared to the main game (3 seconds per choice), so you can understand the different components and have more time to make your decisions.</p>
            <br>
            <p>But the choices and bets will still be made for you if you do not respond in the time provided.</p>
            <br>
        </div>
        <br>
        <p>The practice game itself will last approximately 3 minutes.</p>
        <br>
        <p>When you are ready, press the next button. You will be taken to a transition page which will then start the game for you.</p> 
        <br>
        {% next_button %}
    </div>
{% endblock %}