{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0 20%;  /* Add margins to the sides of the page */
        }

        .container {
            justify-content: center;
            align-items: center;
            max-width: 90%;
            font-size: 1.2vw;
            text-align: center;
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .dual-image-container {
            display: flex;
            justify-content: center;
            gap: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .dual-image-container img {
            width: 100%;
            height: auto;
            max-width: none; 
        }

        .large-instruction-image {
            width: 400px !important;
            max-width: none !important;
        }

        .image-with-caption {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 48%;
            max-width: 400px;
        }

        .image-with-caption img {
            width: 100%;
            height: auto;
            max-width: 300px;
        }

        .image-caption {
            margin-top: 10px;
            text-align: center;
            font-style: italic;
            max-width: 300px;
        }

        p {
            font-size: 24px;
        }

        .boxes-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .box-container {
            width: 48%;
            max-width: 400px;
        }

        .green-box, .red-box {
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 300px;
        }

        .green-box {
            background-color: #b8ffba;
            border: 2px solid #29571f;
            color: rgb(0, 0, 0);
        }

        .red-box {
            background-color: #ff766c;
            border: 2px solid #7e0d05;
            color: rgb(0, 0, 0);
        }

        .box-image {
            max-width: 100%;
            max-height: 150px;
            margin-top: -10px;
        }

        .red-highlight-box {
            background-color: #ffebee;
            border: 2px solid #f44336;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            text-align: center;
        }

        .blue-highlight-box {
            background-color: #e3f2fd;
            border: 2px solid #2196f3;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
        }

        .green-highlight-box {
            background-color: #e6ffe6;
            border: 2px solid #4CAF50;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
        }

        .green-highlight-box-image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        .green-highlight-box-image-container img {
            width: 100px;
            height: auto;
            border-radius: 5px;
        }

        .red-highlight-box p, .blue-highlight-box p {
            font-weight: bold;
        }

        .normal-weight {
            font-weight: normal !important;
        }

        .blue-highlight-box-left-aligned {
            background-color: #e3f2fd;
            border: 2px solid #2196f3;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            text-align: left;
        }

        .feedback-image {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .feedback-image img {
            width: 750px;
            height: auto;
        }

        .feedback-image .image-caption {
            margin-top: 10px;
            text-align: center;
            font-style: italic;
            max-width: 750px; /* Match the width of the image */
        }
    </style>

    <div class="container">
        <h2><b>How do I know which image to choose?</b></h2>
        <br>
        <div class="blue-highlight-box">
            <p>The 60 rounds are split into a number of blocks, where one image is <b>more likely to give you points than the other but not always</b>. 
                In other words, within each block, both images will give you wins and losses, but one image will give you more wins than the other.
                For example, it may be initially better overall to choose the Green image than the Blue image. 
                However, this will switch at several points within the experiment, and you will not be told when.<br></p>
            <p>It is therefore important to pay attention to the feedback and adjust your choices accordingly.</p>
        </div>
        <br>
        <p><b>Over the course of the game, you may therefore choose to either trust your own learning experience through trial and error and/or 
            take decisions from others into consideration, as some of the other players might learn faster than others.</b></p>
        <br>
        <div class="red-highlight-box">
            <p>You cannot lose money for doing badly (i.e. getting a negative score), but the more points you score, the more your bonus payment is!</p>
        </div>
        <br>
        <div class="blue-highlight-box">
            <p>After completing 60 rounds, the total number of points you earned will be displayed along with your bonus, 
                after which you can subsequently complete the questionnaires.</p>  
            <div class="image-container">
                <img src="{% static 'instructions/TaskInstructionsPage2/final_results.png' %}" alt="Final Results" width="600" height="auto">
            </div>
        </div>
        <br>
        <p>When you are ready, please press the button below to move onto the next page of instructions.</p>

        <button style="color: #fff; background-color: #007bff; border: 1px solid transparent; font-size: 1.5rem; padding: 10px 20px; border-radius: 0.25rem;">
            Next
        </button>
    </div>

{% endblock %}