{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0 20%;
        }

        .container {
            text-align: center;
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .dual-image-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .dual-image-container img {
            width: 500px;
            height: auto;
        }

        p {
            font-size: 25px;
        }

        .blue-box, .red-box, .green-box {
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
        }

        .blue-box {
            background-color: #e6f3ff;
            border: 2px solid #007bff;
        }

        .red-box, .red-highlight-box {
            background-color: #ffebee;
            border: 2px solid #f44336;
        }

        .red-highlight-box {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            text-align: center;
        }

        .green-box {
            background-color: #e6ffe6;
            border: 2px solid #4CAF50;
        }

        .image-with-caption {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .image-caption {
            margin-top: 10px;
            text-align: center;
            font-style: italic;
        }

        .green-box-image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        .green-box-image-container img {
            width: 100px;
            height: auto;
            border-radius: 5px;
        }

        button {
            color: #fff;
            background-color: #007bff;
            border: 1px solid transparent;
            font-size: 1.5rem;
            padding: 10px 20px;
            border-radius: 0.25rem;
        }
    </style>

    <div class="container">
        <h2><b>First Choice and Bet</b></h2>
        <br>
        <p>At the beginning of each round, you will be presented with the screen below, where you will make your first choice for <b>which image you think will give you points.</b></p>

        <div class="image-container">
            <img src="{% static 'instructions/TaskInstructionsPage1/choice1.png' %}" alt="Choice 1" width="600" height="auto">
        </div>
        <br>
        <br>
        <p>The other four players in the group are represented by avatars towards the top of the screen.</p>
        <div class="blue-box">
            <p><b>The position of the other players on the screen does not change throughout each task such that Player 1 is always on the far left followed by Players 2 and 3, and Player 4 on the far right.</b></p>

            <div class="image-container">
                <img src="{% static 'instructions/TaskInstructionsPage1/avatars_2.png' %}" alt="avatars" width="600" height="auto">
            </div>
        </div>
        <br>
        <p>You will have <b>3 seconds</b> to make this first choice between the two images.
            <b>Importantly, you cannot change your choice once it is made.</b></p>

            <div class="green-box">
                <p><b>To make your choice, press either the left or right arrow key on your keyboard.</b></p>
                <div class="green-box-image-container">
                    <img src="{% static 'instructions/TaskInstructionsPage1/left_arrow.png' %}" alt="Left">
                    <img src="{% static 'instructions/TaskInstructionsPage1/right_arrow.png' %}" alt="Right">
                </div>
            </div>
        <br>
        <p><b>If you do not make a choice within this time limit, an image will be selected at random for you at the end of the 3 seconds.</b></p>
        <br>
        <p>The chosen image is highlighted with a yellow box when you make your choice, or when it has been made for you.
            The text asking you to make your choice will also disappear.
        </p>
        <div class="dual-image-container">
            <div class="image-with-caption">
                <img src="{% static 'instructions/TaskInstructionsPage1/choice1.png' %}" alt="Choice 1">
                <p class="image-caption">Before making the first choice</p>
            </div>
            <div class="image-with-caption">
                <img src="{% static 'instructions/TaskInstructionsPage1/choice1_highlighted.png' %}" alt="Choice 1 Highlighted">
                <p class="image-caption">After choosing the image on the left</p>
            </div>
        </div> 
        <br>
        <p>You will then be asked to place a 'bet' as to <b>how confident you are</b> that the image selected is the image that will give you points. 
            <b>You cannot change your bet once it is made.</b></p>
        <br>
            <div class="green-box">
                <p><b>To make your bet, press either the '1', '2' or '3' key on your keyboard.</b></p>
                <div class="green-box-image-container">
                    <img src="{% static 'instructions/TaskInstructionsPage1/1_key.png' %}" alt="1">
                    <img src="{% static 'instructions/TaskInstructionsPage1/2_key.png' %}" alt="2">
                    <img src="{% static 'instructions/TaskInstructionsPage1/3_key.png' %}" alt="3">
                </div>
                <br>
                <br>
                <p><b>This should reflect your confidence: “1” (not confident), “2” (reasonably confident), or “3” (very confident)</b></p>
            </div>
        <br>
        <p><b>Again, you have 3 seconds to make your bet. If you do not make a bet within this time, a random bet will be placed for you.</b></p>

        <p>The chosen bet is highlighted with a yellow box when the bet is made. Once again, the text asking you to make your bet will also disappear.</p>

        <div class="dual-image-container">
            <div class="image-with-caption">
                <img src="{% static 'instructions/TaskInstructionsPage1/bet1.png' %}" alt="Bet 1">
                <p class="image-caption">Before making a bet</p>
            </div>
            <div class="image-with-caption">
                <img src="{% static 'instructions/TaskInstructionsPage1/bet1_highlighted.png' %}" alt="Bet 1 Highlighted">
                <p class="image-caption">After making a bet of 3</p>
            </div>
        </div>
        <br>
        <div class="red-highlight-box">
            <p>Whilst you do not receive feedback on whether your first choice is 'correct', your bonus payment will be <b>partly determined by your first choice and bet.</b>
                It is therefore important to <b>make your first choice and bet appropriately</b> to maximise your bonus.</p>
            </p>
        </div>
        <br>
        <p><b>The other four players in the group will be making choices and bets at the same time as you.</b> After you have made your choice and bet, the choices of the other players in the group will then be revealed below their respective avatar.</p>
        <br>
        <div class="image-container">
            <img src="{% static 'instructions/TaskInstructionsPage1/third_display_phase.png' %}" alt="Third Display Phase" width="600" height="auto">
            <p class="image-caption">The choices of the other players are then displayed below their avatar.</p>
        </div>
        <br>
        <p><b>Where players do not make their first choice within the time-limit, and are therefore made by the computer, 
            the image displayed below their avatar will be dimmer.</b></p>
            <br>
        <p>In the example below, the choice for Player 1 and 2 was made by themselves, whilst it was made for Player 3 and 4 by the computer.</p>
        <div class="image-container">
            <img src="{% static 'instructions/TaskInstructionsPage1/preference_computer.png' %}" alt="First Preference Computer" width="600" height="auto">
        </div>
        <br>
        
        <div class="red-box">
            <p><b>Press the next button to move onto the next page which will describe the second part of the task. 
                Please only do so when you are confident that you understand the contents of this page, as you will not be able to return back.
            Feel free to re-read the instructions again if you are unsure on how the first choice and bet works.</b></p>
        </div>

        <button style="color: #fff; background-color: #007bff; border: 1px solid transparent; font-size: 1.5rem; padding: 10px 20px; border-radius: 0.25rem;">
            Next
        </button>
    </div>
{% endblock %}