{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0 25%;
        }
        .container {
            max-width: 100%;
            text-align: center;
        }
        
        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        p {
            font-size: 20px;
        }

        .blue-highlight-box, .red-highlight-box {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .blue-highlight-box {
            background-color: #e3f2fd;
            border: 2px solid #2196f3;
        }

        .red-highlight-box {
            background-color: #ffebee;
            border: 2px solid #f44336;
        }

        .blue-highlight-box p, .red-highlight-box p {
            font-weight: bold;
            margin: 0;
        }

        button {
            color: #fff;
            background-color: #007bff;
            border: 1px solid transparent;
            font-size: 1.5rem;
            padding: 10px 20px;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="container">
        <h2><b>Welcome to the study!</b></h2>
        <br>

        <div class="image-container">
            <img src="{% static 'instructions/TaskInstructionsPage2/feedback.png' %}" alt="Feedback" width="800" height="auto">
        </div>
        <br>
        <br>

        <div class="blue-highlight-box">
            <p>In this experiment, you will make a series of choices between two images, one of which will reward you by giving you points, whilst the other will reduce your score.
            </p>
        </div>
        <br>
        <p>You will be playing with <b>four other players in real time</b>, who will also make the same choices.</p>

        <p><b>However, there is no competition or co-operation with other players, your aim is solely to maximise the amount of points that you score</b>
        which will be converted into a bonus payment at the end of the experiment. The more points you score, the higher your bonus payment is!</p>

        <p>The experiment will be split into two parts: <b>a practice game and the main game</b>, where the practice game is a shortened version which will allow you to familiarise yourself with the game and how it works.</p>
        <div class="red-highlight-box">
            <p>In total, this first part of the study (instructions, practice game and main game) will last around 40-50 minutes. You will then be able to complete the second part of the study, 
                a series of questionnaires which will take about 20 minutes, before receiving payment for both parts. 
                Please only continue if you have 60-70 minutes available to complete both sections, as both are important for the study. 
                You will have the opportunity to have a short break before the second part.</p>
        </div>
        <br>
        <p>The next page will provide you with step-by-step instructions on how the task works and what you are expected to do.</p>
        <p>Press the next button when you are ready to move onto the instructions.</p>
        <br>
        <button>
            Next
        </button>
    </div>
{% endblock %}