{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0 20%;  /* Add margins to the sides of the page */
        }

        .container {
            justify-content: center;
            align-items: center;
            max-width: 90%;
            font-size: 1.2vw;
            text-align: center;
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .dual-image-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .dual-image-container img {
            width: 500px;
            height: auto;
        }

        p {
            font-size: 25px;
        }

        .blue-box {
            background-color: #e6f3ff;
            border: 2px solid #007bff;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
        }

        .red-box {
            background-color: #ffebee;
            border: 2px solid #f44336;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
        }

        .red-highlight-box {
            background-color: #ffebee;
            border: 2px solid #f44336;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            text-align: center;
        }

        .image-with-caption {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .image-caption {
            margin-top: 10px;
            text-align: center;
            font-style: italic;
        }

        .green-box {
            background-color: #e6ffe6;
            border: 2px solid #4CAF50;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
        }

        .green-box-image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        .green-box-image-container img {
            width: 100px;
            height: auto;
            border-radius: 5px;
        }

    </style>

    <div class="container">
        <h2><b>First Choice and Bet</b></h2>
        <br>
        <p>At the beginning of each round, you will be presented with the screen below, where you will make your first choice for <b>which image you think will give a reward.</b></p>

        <div class="image-container">
            <img src="{% static 'instructions/TaskInstructionsPage1/choice1.png' %}" alt="Choice 1" width="600" height="auto">
        </div>
        <br>
        <p>The two images have different probabilities of giving a reward, with one being more likely to give a reward, and the other more likely to give a loss.
            Which image gives which is <b>randomly determined at the start.</b></p>
        <br>

        <p>The other four players in the group are represented by avatars, towards the top of the screen.</p>
        <br>
        <div class="blue-box">
            <p><b>The position of the other players on the screen does not change throughout the experiment such that Player 1 is always on the far left followed by Players 2 and 3, and Player 4 on the far right.</b></p>

            <div class="image-container">
                <img src="{% static 'instructions/TaskInstructionsPage1/avatars_2.png' %}" alt="avatars" width="600" height="auto">
            </div>
        </div>
        <br>
        <p>You will have 2.5 seconds to make this first choice between the two images.
            <b>Importantly, you cannot change your choice once it is made</b>.
            If you do not make a choice within this time limit, an image will be selected at random for you.</p>

            <div class="green-box">
                <p><b>To make your choice, press either the left or right arrow key on your keyboard.</b></p>
                <div class="green-box-image-container">
                    <img src="{% static 'instructions/TaskInstructionsPage1/left_arrow.png' %}" alt="Left">
                    <img src="{% static 'instructions/TaskInstructionsPage1/right_arrow.png' %}" alt="Right">
                </div>
            </div>

        <br>
        <p>The chosen image is highlighted with a yellow box when you make your choice, or when it has been made for you.</p>
        <div class="dual-image-container">
            <div class="image-with-caption">
                <img src="{% static 'instructions/TaskInstructionsPage1/choice1.png' %}" alt="Choice 1">
                <p class="image-caption">Before making the first choice</p>
            </div>
            <div class="image-with-caption">
                <img src="{% static 'instructions/TaskInstructionsPage1/choice1_highlighted.png' %}" alt="Choice 1 Highlighted">
                <p class="image-caption">After choosing the image on the left</p>
            </div>
        </div> 
        <br>
        <p>You will then be asked to place a 'bet' as to <b>how confident you are</b> that the image selected is the image with the higher probability of reward. 
            <b>You cannot change your bet once it is made.</b></p>
        <br>
            <div class="green-box">
                <p><b>To make your bet, press either the '1', '2' or '3' key on your keyboard.</b></p>
                <div class="green-box-image-container">
                    <img src="{% static 'instructions/TaskInstructionsPage1/1_key.png' %}" alt="1">
                    <img src="{% static 'instructions/TaskInstructionsPage1/2_key.png' %}" alt="2">
                    <img src="{% static 'instructions/TaskInstructionsPage1/3_key.png' %}" alt="3">
                </div>
            </div>
        <br>
        <p><b>Again, you have 2.5 seconds to make your bet. If you do not make a bet within this time, a random bet will be placed for you.</b></p>

        <p>The chosen bet is highlighted with a yellow box when the bet is made.</p>

        <div class="dual-image-container">
            <div class="image-with-caption">
                <img src="{% static 'instructions/TaskInstructionsPage1/bet1.png' %}" alt="Bet 1">
                <p class="image-caption">Before making a bet</p>
            </div>
            <div class="image-with-caption">
                <img src="{% static 'instructions/TaskInstructionsPage1/bet1_highlighted.png' %}" alt="Bet 1 Highlighted">
                <p class="image-caption">After making a bet of 3</p>
            </div>
        </div>
        <br>
        <div class="red-highlight-box">
            <p>Your bonus payment will be calculated from your points total in the task, which is <b>partly determined by your initial choice and bet.</b>
                It is therefore important to <b>make your initial choice and bet appropriately</b> to maximise your bonus.</p>
            </p>
        </div>
        <br>
        <p>Specifically, you should answer based on how confident you are because the number of points is multiplied by the bet.</p>
            <br>
        <div class="red-highlight-box">
            <p><b>This means that if you bet high, you win more if you are correct, but lose more if you are incorrect.</b></p>
        </div>
        <br>
        <p>After you have made your choice and bet, the choices of the other players in the group are revealed.</p>
        <br>
        <div class="image-container">
            <img src="{% static 'instructions/TaskInstructionsPage1/third_display_phase.png' %}" alt="Third Display Phase" width="600" height="auto">
        </div>
        <br>
        <p><b>Where players do not make their first choice with in the time-limit, and are therefore made by the computer, 
            the image displayed below their avatar choice will be dimmer.</b></p>
        <p>In the example below, the choice for Player 1 and 2 was made by themselves, whilst it was made for Player 3 and 4 by the computer.</p>
        <div class="image-container">
            <img src="{% static 'instructions/TaskInstructionsPage1/preference_computer.png' %}" alt="First Preference Computer" width="600" height="auto">
        </div>
        <br>
        
        <div class="red-box">
            <p><b>Please press the next button to move onto the next page which will describe the second part of the task. Please only do so when you are confident that you understand the contents of the page, as you will not be able to return back.</b></p>
        </div>

        <button style="color: #fff; background-color: #007bff; border: 1px solid transparent; font-size: 1.5rem; padding: 10px 20px; border-radius: 0.25rem;">
            Next
        </button>
    </div>
{% endblock %}