{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <style>
        .container {
            justify-content: center;
            align-items: center;
            max-width: 90%;
            font-size: 14px;
        }
        #button3 {
            width: 50%;
            margin: auto;
        }
        p {
            font-size: 20px;
        }
    </style>

    <h1>PARTICIPANT INFORMATION</h1>
    <p>You are invited to take part in this research study investigating social learning and decision making as you have expressed your interest. Please read the following information carefully.</p>

    <div class="container">
        <p><br></p>
        <p style="text-align: left;"><b>What is the purpose of this study?</b></p>
        <p style="text-align: left;">The study aims to improve our understanding of how people learn and make decisions in social contexts. 
            We are particularly interested in how people make decision in groups. 
            In addition, we will also look at how this relates to individual differences in psychological measures.&nbsp;</p>
        <br>
        <p style="text-align: left;"><b>What will the study involve?</b></p>
        <p style="text-align: left;">In this study, you will be asked to complete a computer-based task in which you will have to make choices. 
            Before the task begins, you will receive detailed instructions and practice. 
            In total, the experiment will take approximately 60 minutes.</p>
        <br>
        <p style="text-align: left;"><b>Are there any benefits in taking part?</b></p>
        <p style="text-align: left;">You will receive financial compensation of £8 for completing the tasks. 
            Your participation may also help us better understand the brain mechanisms underlying learning and decision-making.</p>
        <br>
        <p style="text-align: left;"><b>Risks</b></p>
        <p style="text-align: left;">This study does not carry any risks beyond what you would encounter in everyday life. 
            Some of the questionnaires may cover emotionally and psychologically sensitive issues. 
            These are used for research purposes and are not used for a medical diagnosis.
            If you are concerned about your mental health, please seek input from a medical professional. Useful advice can be found at www.mind.org.uk. 
            If you need urgent help, call the Samaritans for free 24/7 support: 116 123 or email jo@samaritans.org.</p>
        <br>
        <p style="text-align: left;"><b>Do you have to take part?</b></p>
        <p style="text-align: left;">Your participation in this study is completely voluntary. 
            You are free to withdraw at any time for any reason, but if you do so please be aware that this may prolong the experiment for other players. 
            Your group may also not be able to finish the experiment. 
            We have matched players into groups of 5, however the time taken to read through these instructions and to complete the practice task may be slightly different. 
            Please be aware that you may need to wait for others to catch up, but this should take no longer than a few minutes at most. 
            <b>Importantly, please only start this study if you are confident you will be able to complete it.</b> 
            You can also request that we remove your data, but please note that once the data have been included in analysis or data repositories (approximately one month after data was collected), it cannot be withdrawn.</p>
        <br>
        <p style="text-align: left;"><b>How will your data be used?</b></p>
        <p style="text-align: left;">When the study is completed, the analysis of the data will be reported in an academic report. The results may be submitted for journal publication and/or presented at scientific conferences. 
            All data will be aggregated and anonymised – in no way can any individual person be identified from the results. We would like your permission to use your anonymised data in future studies, and to share anonymised data 
            with researchers in other labs and departments (e.g., in online databases). Files that are shared with other researchers or results that are made public will not contain any personal information that could identify you. 
            Responsible members of the University of Birmingham may be given access to data for monitoring and/or audit of the study to ensure we are complying with guidelines, or as otherwise required by law.</p>
        <br>
        <p style="text-align: left;"><b>Is your data confidential?</b></p>
        <p style="text-align: left;">Any responses you provide will be treated confidentially. Any publication resulting from this work will report only fully anonymised data that will not identify you. 
            Your anonymous responses may be used by the research team, shared with other researchers, or made available in an online data repository. There is an opportunity for you to provide your email address to take part in further paid studies in the future, 
            but you are under no obligation to take part. Your email address will only be used for this purpose and never shared. We are the data controller for this study which means we are responsible for looking after your data, using it properly and protecting your rights. 
            In this we are guided by data protection legislation and policies and procedures of University of Birmingham. Contact information This study is being run by Aamir Sohail (PhD student at the University of Birmingham), 
            under the supervision of Dr Lei Zhang and Professor Patricia Lockwood at the School of Psychology, University of Birmingham. If you have questions about the research, you can email axs2110@bham.ac.uk. 
            The study has been approved by the University of Birmingham Science, Technology, Engineering and Mathematics Ethical Review Committee, approval number: XXXXXXXXXXXXX. 
            If you have any complaints or concerns about this research, you can direct these, in writing, to Dr Birgit Whitman, Head of Research Governance and Integrity, B.Whitman@bham.ac.uk.</p>
        <br>
        <p style="text-align: left;"><b>Once you have read through this information and are happy to proceed, please press the 'Next' button below.</b></p>

        <p></p>
    </div>
    <br>
    <div style="display: flex; justify-content: center; width: 100%;">
        <button style="color: #fff; background-color: #007bff; border: 1px solid transparent; font-size: 1.5rem; padding: 10px 20px; border-radius: 0.25rem;">
            Next
        </button>
    </div>
{% endblock %}